<div class="grid_box_holder">
  <div class="grid_box">
    {{#linkTo "biblebooks.show" this}}
      <div class="biblebook_image">
        <img {{bindAttr src="imageMediumUrl"}} class="bb_image" />
      </div>
      <div class="background_image_one"><p class="background_color_two">{{name}}</p>
    {{/linkTo}}
  </div>
  {{! {{#each lessons}}
    {{! <li class="clearfix"> }}
      {{! {{link}}
    {{! </li> }}
  {{! {{/each}}
</div>


