<div class="row biblebook">
  <div class="books_list small-12 large-6 columns">
    {{#linkTo "biblebooks.show" this}}
      <h1>{{name}}</h1>
    {{/linkTo}}
  </div>
  <div class="books_list small-12 large-6 columns">
    {{#linkTo "biblebooks.show" this}}
    <div class="biblebook_border">
      <img {{bindAttr src="imageMediumUrl"}} class="image" />
    </div>
    {{/linkTo}}
  </div>

</div>
