<div class="background_image_one">
  <div class="title background_color_two">bible <span class="hh1">books</span></div>
</div>
{{#if currentUser.isSignedIn}}
<div class="view_bar">
  <div class="vew_bar_right">
    <a href="biblebooks/new" class="button">+ New Bible book</a>
  </div>
</div>
{{/if}}
<div class="biblebooks">
  {{#each controller}}
    {{partial "biblebooks/list"}}
  {{/each}}
</div>




