<h1>Nate's Blog</h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#if currentUser.isSignedIn}}
       <a href="posts/new" class="button">+ New Post</a>
    {{/if}}
  </div>
</div>
{{#each model}}
  {{partial "posts/list"}}
{{/each}}


