<div class="title background_color_two">nate's <span class="hh1">Interviews</span></div>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#if currentUser.isSignedIn}}
       <a href="posts/new" class="button">+ New Interview</a>
    {{/if}}
  </div>
</div>

<h1>nate's Interviews coming soon</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{#each model}}
  {{partial "posts/list"}}
{{/each}}


