<div class="page_header">
  <div class="page_header_info_one">
   
  </div>
  <div class="page_header_info_two">
    <h1>about <span style="font-family:'Istok Web', sans-serif;"> PAGE</span></h1>
  </div>
  <div class="page_header_info_three">
    <h1>Nate Holdridge</h1>
  </div>
</div>