<div class="title background_color_two">about <span class="hh1">Nate Holdridge</span></div>
<div class="row">
  <div class="small-5 columns">
    <img src="/assets/nate1.jpg" style="margin-top:20px;" />
  </div>
  <div class="small-7 columns">
    <br><br><br><br>
    <div class="box background_color_one">
      <p>
        <span class="hh2">Pastor Nate</span> has been Senior Pastor of Calvary since 2008. He has served in various capacities including Associate Pastor, Youth Pastor, and College Ministry Pastor. Pastor Nate graduated from Calvary Chapel Bible College in 1998 with an Associates Degree in Theology. Nate married his lovely bride, Christina, in 2002 and is the proud father of three beautiful daughters: Lauren, Violet, and June. He loves being a father and husband.
      </p>
      <p>
        Along with carrying the main pulpit duties of the church Pastor Nate is actively involved in mentoring young men in the church and casting a vision for local outreach. His passion to reach the local community has him dreaming of expanding the church and creating multiple sites in every town that we can reach.
      </p>
    </div>
  </div>
</div>
