<div class="hide_show_nav">
  <div class="hamburger">
    {{#view App.ShowNav}}
      <div id="hamburger_icon">
        <div class="hamburger_piece hamburger_top">&nbsp;</div>
        <div class="hamburger_piece hamburger_middle">&nbsp;</div>
        <div class="hamburger_piece hamburger_bottom">&nbsp;</div>
      </div>
    {{/view}}
  </div>
  <div class="the_top_nav clearfix">
    {{#view App.HideNav}}
      <div class="nav_close_button">x</div>
    {{/view}}
    <div class="top_nav_left">
      <div class="top_nav clearfix">{{#linkTo "home"}}              home{{/linkTo}}</div>
      <div class="top_nav clearfix">{{#linkTo "biblebooks.index"}}  bible books{{/linkTo}}</div>
      <div class="top_nav clearfix">{{#linkTo "lessons.index"}}     all teachings{{/linkTo}}</div>
    </div>
    <div class="top_nav_right">
      <div class="calvary_link"><a href="http://www.calvary.com">Calvary.com</a></div>
      <div class="nav_action_buttons">
        <div class="nate_button">
          {{#linkTo "books.index"}}Nate Holdridge{{/linkTo}}
        </div>
        <div class="nate_socials">
          <div class="nate_social ns_twitter"><a href="https://twitter.com/nholdridge" target="_blank">&nbsp;</a></div>
          <div class="nate_social ns_instagram"><a href="https://twitter.com/nholdridge" target="_blank">&nbsp;</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container background_grad_one clearfix">
  {{outlet}}
</div>



 {{template "player"}}
