
<div id="nav_container">
  <ul id="nav_main">
    <li class="left_link"><a href="http://www.calvary.com">Calvary.com</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">video</a></li>
    <li><a href="#">reading</a></li>
    <li>{{#linkTo "about"}}about{{/linkTo}}</li>
    <li><div class="slink"></div>{{#linkTo "lessons.index"}}teaching{{/linkTo}}</li>
    <li>{{#linkTo "home"}}home{{/linkTo}}</li>
  </ul>
</div>

<div class="container">
  {{outlet}}
</div>

<div class="footer">
  <div class="footer_content_container">
    <div class="footer_content">
      <div class="footer_content_header"><h1>connect with us</h1></div>
      <div class="footer_content_body">
        <div class="footer_social">
          <div class="footer_social_facebook">facebook</div>
          <div class="footer_social_facebook">twitter</div>
          <div class="footer_social_facebook">google +</div>
        </div>
      </div>
    </div>
    <div class="footer_content">
      <div class="footer_content_header"><h1>contact nate</h1></div>
      <div class="footer_content_body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, tellus ut malesuada hendrerit, elit nisi faucibus lacus, aliquam suscipit leo mauris id ligula. Aliquam fringilla elit in dolor suscipit eget feugiat metus viverra. Vivamus a mi risus, a bibendum nulla. Praesent et eros nunc, nec mattis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi aliquet sodales magna
      </div>
    </div>
    <div class="footer_content">
      <div class="footer_content_header"><h1>go to...</h1></div>
      <div class="footer_content_body">
        {{#linkTo "home"}}home{{/linkTo}}
        {{#linkTo "about"}}about{{/linkTo}}
        {{#linkTo "lessons.index"}}teaching{{/linkTo}}

      </div>
    </div>
  </div>
  <div class="page_quote">
    <div class="quote_container">
      <h1>Your <span style="font-size:160%;">Word</span></h1>
      <h2><span style="font-size:70%;">is a</span> lamp to</h2>
      <h2>my feet <span style="font-size:70%;">and a</h2>
      <h3><span style="color:white;">light</span> to my <span style="color:white;">path</span></h3>
    </div>
    <div class="sun_css">&nbsp;</div>
    <div class="path_css">&nbsp;</div>
  </div>
</div>

 {{template "player"}}
