<div class="the_top_nav clearfix">
  <div class="top_nav_left">
    <div class="calvary_link"><a href="http://www.calvary.com">Calvary.com</a></div>
    <div class="">{{#linkTo "home"}}home{{/linkTo}}</div>
    <div class="">{{#linkTo "biblebooks.index"}}bible books{{/linkTo}}</div>
    <div class="">{{#linkTo "lessons.index"}}teachings{{/linkTo}}</div>
  </div>
  <div class="top_nav_right">
    <div class="nate_button button">{{#linkTo "books.index"}}Nate Holdridge{{/linkTo}}</div>
  </div>
</div>

<div class="container background_grad_one clearfix">
  {{outlet}}
</div>



 {{template "player"}}
