<div class="home clearfix">
  <div class="home_title">
    <p>
      through the
      <span class="hh2"> Bible</span>
    </p>
    <p>
      studio series with pastor
      <span class="hh1">Nate Holdridge</span>
    </p>
  </div>
  <div class="home_image">
    <img src="/assets/nate.png" class="nate_image" />
  </div>
</div>


<div>
  {{template "biblebooks/index"}}
</div>
