<div class="form_box login_box">
  <h1>log-in</h1>
  <form>
    <div>
      <input type="text" id="email" name="email" placeholder="email">
    </div>
    <div>
      <input type="text" id="pass" name="pass" placeholder="password">
    </div>
    <br /><br />
    <button id="login_button" class="button">Log in</button>
  </form>
</div>
