<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :image %>
  <%= form.file_field :image, :style => "margin-top:10px; line-height:2em; width:300px;" %>
</div>

