<div class="title background_color_two">nate's <span class="hh1">Books</span></div>
{{#if currentUser.isSignedIn}}
<div class="view_bar">
  <div class="vew_bar_right">
      {{! {{#linkTo "books.new" class="button create_button" }} {{!+ New book{{/linkTo}}
      <a href="books/new" class="button">+ New Book</a>
  </div>
</div>
{{/if}}
{{#each model}}
  {{partial "books/list"}}
{{/each}}




