<div class="banner clearfix background_grad_one">
  <div class="float_left">
    <img src="/assets/nateandfamily.png" class="circle_image" />

      <span class="hh1">Pastor Nate</span> has been Senior Pastor of Calvary since 2008. He has served in various capacities including Associate Pastor, Youth Pastor, and College Ministry Pastor. Pastor Nate graduated from Calvary Chapel Bible College in 1998 with an Associates Degree in Theology. Nate married his lovely bride, Christina, in 2002 and is the proud father of three beautiful daughters: Lauren, Violet, and June. He loves being a father and husband.
    <br><br>

      Along with carrying the main pulpit duties of the church Pastor Nate is actively involved in mentoring young men in the church and casting a vision for local outreach. His passion to reach the local community has him dreaming of expanding the church and creating multiple sites in every town that we can reach.

  </div>
</div>


<div class="background_image_one">
  <div class="title background_color_two">nate's <span class="hh1">Books</span></div>
</div>
{{#if currentUser.isSignedIn}}
<div class="view_bar">
  <div class="vew_bar_right">
      {{! {{#linkTo "books.new" class="button create_button" }} {{!+ New book{{/linkTo}}
      <a href="books/new" class="button">+ New Book</a>
  </div>
</div>
{{/if}}
{{#each model}}
  {{partial "books/list"}}
{{/each}}




