$font-heading: 'junction', sans-serif;
$font-body: 'raleway', sans-serif;
$font-style: 'Satisfy', cursive;
$color-blue:#0ca7d3;
$color-dark-blue:#025e79;
$color-dark-blue2:#037394;
$color-light-blue:#058db4;
$color-light-blue2:#0197c2;

@mixin blue-grad {
  background: #037495;
  background: -moz-linear-gradient(45deg,  #037495 0%, #0ca7d3 51%, #3bb2d3 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#037495), color-stop(51%,#0ca7d3), color-stop(100%,#3bb2d3));
  background: -webkit-linear-gradient(45deg,  #037495 0%,#0ca7d3 51%,#3bb2d3 100%);
  background: -o-linear-gradient(45deg,  #037495 0%,#0ca7d3 51%,#3bb2d3 100%);
  background: -ms-linear-gradient(45deg,  #037495 0%,#0ca7d3 51%,#3bb2d3 100%);
  background: linear-gradient(45deg,  #037495 0%,#0ca7d3 51%,#3bb2d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#037495', endColorstr='#3bb2d3',GradientType=1 );
}

body{
  background:$color-blue;
  font-family:$font-body;
  font-size: 110%;
}

.row {
  width:100%;
  margin:0px auto;
  .columns{
    padding:0px;
  }
  .columns.lessons_list{
    padding:0px 20px;
    margin:0px 0px 40px 0;
  }
  .large-offset-1{
    margin-left:2.7%;
    margin-right:2.7%;
  }
}
.row .row {
  width:100%;
  margin:0px;
}

.row-full{
  max-width: 100%;
}

.small_center{
  @media all and (max-width: 767px){
  width: 360px;
  margin: 0 auto;
  }
}

p{
  color:#eee;
  line-height: 1.5em;
  margin:5px 0px;
  padding:3px 0px;
}

h1{
  font-weight:400;
  color:white;
  margin:5px;
}

h2{
  font-weight:400;
  letter-spacing:-1px;
  margin:5px;
}

h3{
  margin:0px;
}


a{
  color:#444;
  text-decoration: none;
}

.hh1{
  color:#eee;
  font-size:170%;
  margin:0px;
}

.hh2{
  color:#eee;
  font-size:130%;
  margin:0px;
}

.hh3{
  color:#eee;
  font-size:220%;
  margin:0 0 30px 0;
}

a.button,
.button {
  background: none;
  border: 1px solid #eee;
  color:#eee;
  font-size: 70%;
  padding:15px;
  transition: all 0.5s ease;
  &:hover{
    background:#eee;
    color:$color-blue;
    cursor:pointer;
    transition: all 0.2s ease;
  }
}

.float_left{
  float:left;
}
.float_right{
  float:right;
}
.center{
  text-align: center;
}

.image{
  margin:2px;
  padding:2px;
  position:relative;
  z-index: 9;
}

.family_image{
  background: rgba(255,255,255,0.6);
  border-radius: 110%;
  border:1px solid rgba(100,100,100,0.4);
  float:right;
}

.box{
  padding:10px 20px;
}

.title{
  color:#fff;
  font-size: 200%;
  padding:10px 0;
  text-align: center;
}

.hide_mobile{
  @media all and (max-width: 767px) {
    display:none
  }
}
.background_color_one{
  background:$color-light-blue;
}

.background_color_two{
  background:$color-dark-blue;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-top: 1px solid rgba(255,255,255,0.3);
  opacity:0.4;
}

.background_color_three{
  background:$color-blue;
}

.background_grad_one{
  @include blue-grad;
}
.background_image_one{
  background:url("back1.png");
}

.banner{
  padding:15px;
  color:#fff;
  line-height: 1.5em;
}

.biblebook_list {
  background: $color-light-blue;
  margin:40px 0px 0px;
  padding: 20px 0 0 0;
  h2{
    padding:10px;
  }
  ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    li:nth-child(odd){
      background: $color-light-blue2;
       &:hover {
        background: $color-dark-blue;
      }
    }
    li{
      border-top:1px solid $color-dark-blue;
      color: #fff;
      a{
        display:block;
        padding: 20px;
        &:hover {
          background: $color-dark-blue;
          color: #fff;
        }
      }
    }
  }
}

.grid_box_holder{
  background: blue;
  max-width: 1200px;
  margin:0 auto;
  .grid_box{
    float:left;
    margin:20px 10px 20px;
    width:23%;
    p{
      padding:10px;
      text-align: center;
    }
    @media all and (max-width: 1000px){
      margin:20px 1% 20px 4%;
      width:44%;
    }
    @media all and (max-width: 525px){
      margin:10px 0px 20px;
      width:100%;
    }
  }
}

.biblebook_image{
  margin:0 auto;
  width:86%;
  .bb_image{
    border-bottom:1px solid rgba(255,255,254,0.3);
    border-right:1px solid rgba(255,255,254,0.3);
    width:100%;
    @media all and (max-width: 525px){
      width:100%;
    }
  }
}

.play_this_teaching_title{
  float:right;
}


.container {
  h1{
    margin:20px auto;
    text-align:center;
  }
}

.home{
  .home_title{
    float:left;
    padding:20px;
    width:80%;
    p{
      font-size: 140%;
      line-height: 1.4em;
      margin:0px;
      padding:0px;
    }
  }

  .home_image{
    float:left;
    width:12%
  }
}

.view_bar{
  height:60px;
  padding:10px 80px 0px;
  width:100%;
  .vew_bar_right{
    float:right;
    margin:10px;
  }
}

#user_nav{
  position:relative;
  z-index: 99;
}
.loggedin{
  background:$color-dark-blue;
  padding:10px 25px;
  p{
    float:left;
    margin:10px 0 0 0px;
  }
}

.form_box{
  margin:20px auto 100px;
  width:390px;
  h1{margin:30px auto;}
  form{
    float:left;
    div{
      float:left;
      margin:2px;
      label{
        color:#eeeeee;
        float:left;
        min-width:100px;
        padding:10px 5px 0 0;
        text-align:right;
      }
      input[type="file"]{
        color:#444;
        font-size: 18px;
        line-height:1em;
        margin:10px 0 0 0;
        width:220px;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"]{
        border:none;
        color:#555;
        float:left;
        font-size:18px;
        height:40px;
        min-width:250px;
        max-width: 270px;
        padding:5px;
        ::-webkit-input-placeholder{
        }
      }
    }
  }
}
#context_textfield{
  border:none;
  margin:0 0 0 2px;
  width:250px;
}

.hamburger{
  background:#222;
  height:40px;
  width:100%;
  #hamburger_icon{
    background: url("icon-hamburger.png") no-repeat;
    float:left;
    height: 20px;
    margin:7px 3px 0px 10px;
    padding-right:6%;
    width:26px;
    &:hover{
      cursor: pointer;
    }
  }
}
.the_top_nav{
  background:#222;
  margin-top:-140px;
  position:absolute;
  width: 100%;
  .nav_close_button{
    border:1px solid #fff;
    border-radius:15px;
    color:#fff;
    font-size: 80%;
    height:16px;
    right:3%;
    top:10px;
    padding:1px 3px;
    position:absolute;
    width:16px;
    &:hover{
      background:#fff;
      color:#222;
      cursor:pointer;
    }
  }
  .top_nav_left{
    float:left;
    padding-right:35%;
    width:70%;
    @media all and (max-width: 767px){
      width:50%;
      padding-right:0%;
    }
  }
  .top_nav_right{
    float:left;
    width:30%;
    @media all and (max-width: 767px){
      width:50%;
    }
    .nate_button{
      margin:20px;
      text-align: center;
      width:170px;
      @media all and (max-width: 767px){
        margin:20px 0 0 0;
        width:100%;
      }
      a{
        border:1px solid #fff;
        color:#fff;
        padding:10px 15px;
        transition: background 0.5s ease;
        &:hover{
          background:#fff;
          color:#222;
          transition: background 0.2s ease;
        }
      }
    }
    .calvary_link{
      margin:17px 0 10px 0px;
      text-align: left;
      @media all and (max-width: 767px){
        text-align: center;
      }
      a{
        color:white;
        padding:0px 0 0 30px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .top_nav{
    border-left: 1px solid $color-blue;
    margin:3px 5%;
    position:relative;
    @media all and (max-width: 767px){
      background: $color-blue;
      border-bottom: 1px solid $color-light-blue2;
      margin:0px;
    }
    a{
      color:#eee;
      display: block;
      line-height: 1.7em;
      padding-left:10px;
      transition: all 0.5s ease;
      &:hover{
        background:$color-dark-blue2;
        transition: all 0.2s ease;
      }
      @media all and (max-width: 767px){
        display: block;
      }
    }
  }
}


.show_container{
  .show_box{
    padding:40px;
    h1{
      text-align: left;
    }
  }
}

#edit_button_id{
  display:none;
}
.post_header{
  h1{padding:40px 0 0 0;}
  h2{text-align: center;}
  p{text-align:center; color:#444;}
}
.posts{
  background:#0a96bd;
  line-height: 3em;
  margin:0 0 80px 0;
  min-width: 100%;
  padding:20px;
}

.section {
  padding:0px 20px;
  max-width:1040px;
  margin:0 auto 100px;
  min-height: 300px;
  width:80%
}


/** Media Queries  **/
@media screen and (max-width: 767px) {
  .lesson_mod{
    height:auto;
    .lesson_mod_menu{
      .lesson_mod_controls{
        height:120px;
        width:68%;
      }
      .lesson_mod_info{
        width:90%;
      }
    }
  }
  .nav_container{
    margin:100px 0 0 0;
  }
  .section{
    width:97%;
  }

  .hh1, .hh2, .hh3{
    text-align: center;
  }
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


