#jp_container_1 {
  padding:0px;
  margin:0px;
}
#lesson_mod {
  background: #222;
  border-top:1px solid #444;
  margin: 0px 0 0 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

#lesson_mod_menu {
  background: #222;
  display:none;
  height: 100px;
  max-width: 100%;
  width: 100%;
}

.lesson_mod_image {
  float: left;
  height:100px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  z-index: 99;
  @media all and (max-width: 767px){
    bottom:-100px;
    left:0px;
    position:absolute;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
  }
  a{
    .current_lessen_image{
      @media all and (max-width: 767px){

      }
      height:100px;
      width:100px;
    }
  }
}
.mod_img {
  width: 140px;
  float: left;
}
.mod_img_pause {
  width: 140px;
  float: left;
}
.lesson_mod_controls {
  float: left;
  width: 70%;
  @media all and (max-width: 767px){
     width: 95%;
  }
}
.lesson_progress_bar {
  border: 1px solid #999;
  border-radius: 20px;
  height: 20px;
  margin: 10px;
  padding: 3px 4px;
}
.progress_bar {
  background: #ccc;
  border-radius: 130px;
  height: 12px;
}
.lesson_mod_time {
  height: 24px;
  margin:5px 0 0 0;
  width: 100%;
}
.lesson_current_time {
  color: #ccc;
  float: left;
  font-size: 80%;
  margin: 0 0 0 10px;
  padding: 3px;
  position: relative;
  width: 50%;
}
.lesson_current_time:before {
  background: url('downarrow.png') no-repeat;
  content: "";
  height: 10px;
  left: 5px;
  position: absolute;
  bottom: -8px;
  width: 24px;
}
.lesson_duration {
  color: #ccc;
  float: right;
  font-size: 80%;
  margin: 0 6px 0 0;
  padding: 3px;
  text-align: right;
  position: relative;
}
.lesson_duration:before {
  background: url('downarrow.png') no-repeat;
  content: "";
  height: 10px;
  left: 5px;
  position: absolute;
  bottom: -8px;
  width: 24px;
}
.lesson_mod_volume {
  display: block;
  height: 30px;
  padding: 0 0 0 12%;
  width: 100%;
  @media all and (max-width: 767px){
    display:none;
  }
}
.lesson_mod_volume_controls {
  float: left;
  width: 27px;
}
.volume-meter {
  border: 1px solid #999;
  border-radius: 20px;
  display: block;
  float: left;
  height: 20px;
  margin: 3px 3px 0px;
  padding: 0 6px 0 0px;
  width: 60%;
}
.volume-bar {
  -webkit-animation: volumecontrol 8s infinite ease-in-out;
  -moz-animation: volumecontrol 8s infinite ease-in-out;
  animation: volumecontrol 8s infinite ease-in-out;
  height: 12px;
  width: 75%;
  margin: 3px 3px;
  display: block;
  border-radius: 6px;
  background: #ccc;
}
.volume-bar:hover {
  cursor: ew-resize;
}
.lesson_mod_volume_max {
  background: url('icon_volume_max.png') no-repeat;
  float: left;
  width: 40px;
}
.jp-mute {
   background:url('icon_volume_play.png') no-repeat;
}
.jp-unmute {
  background: url('icon_volume_mute.png') no-repeat;
}
.icon-volume {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0px;
}
.lesson_mod_info_container {
  float: left;
  width: 48%;
  @media all and (max-width: 767px){
    font-size: 70%;
    height:100px;
    margin-left:105px;
  }
  .lesson_mod_info{
    padding: 7px 10px 5px;
    text-align: right;
    @media all and (max-width: 767px){
      background: #fff;
      text-align: left;
    }
  }
}
.lesson_mod_info h1 {
  color: #ccc;
  font-size: 150%;
  margin:0px 0 5px 0;
  text-transform: uppercase;
  @media all and (max-width: 767px){
    color: #222;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
  }
}
.lesson_mod_info h2 {
  color: #ccc;
  font-size: 110%;
  margin: 0px;
  line-height: 1em;
}
.lesson_mod_info h3 {
  color: #ccc;
  font-size: 90%;
  line-height: 1.4em;
  margin: 0px;
}


.social_buttons{
  float:right;
  padding:10px 0 0 0;
  width:162px;
  @media all and (max-width: 767px){
    display:none;
  }
  .social_icon{
    float:left;
    height:24px;
    margin:-14px 0px 0 27px;
    width:24px;
    opacity:0.7;
    &:hover{opacity:1;}
    a{
      display:block;
      height: 24px;
    }
  }
  .social_facebook {
    background: url('icon-facebook.png') no-repeat;
    background-size:100%;
  }
  .social_twitter {
    background: url('icon-twitter.png') no-repeat;
    background-size:100%;
  }
  .social_google {
    background: url('icon-google-plus.png') no-repeat;
    background-size:100%;
    img{
      height:0px;
    }
  }
}



.player_action_container{
  .player_close_button{
    border:1px solid #fff;
    color:#fff;
    cursor:pointer;
    float:right;
    font-size: 80%;
    height:20px;
    margin:5px 7px 0 0;
    padding:2px 5px;
    width:20px;
    @media all and (max-width: 767px){
      top:-31px;
      height:25px;
      margin:5px;
      right:0px;
      padding:6px 8px;
      position:absolute;
      width:24px;
    }
    &:hover{
      background:#fff;
      color:#222;
    }
  }
  .player_download_button{
    @media all and (max-width: 767px){
      display:none;
    }
    a{
      background: url('icon-download.png') no-repeat;
      background-position:right;
      color:#fff;
      cursor:pointer;
      display:block;
      float:right;
      font-size: 12px;
      height:20px;
      margin:10px 9px 0 0px;
      opacity:0.7;
      padding:8px 22px 0 0;
      &:hover{
        opacity:1;
      }
    }
  }
  .player_refurl_button{
    width:100%;
    @media all and (max-width: 767px){
      display:none;
    }
    a{
      background: url('icon-refurl.png') no-repeat;
      background-position:right;
      color:#fff;
      cursor:pointer;
      display:block;
      float:right;
      font-size: 12px;
      height:20px;
      margin:40px -20px 0 0px;
      opacity:0.7;
      padding:8px 22px 0 0;
      &:hover{
        opacity:1;
      }
    }
  }
}


