//lesson show page

.lesson_wrapper {
  height:400px;
  margin:40px;
  position:relative;
  width:400px;
  &:hover > .play_mark_large {
    cursor:pointer;
    opacity:0.8;
  }
  &:hover > .lesson_image {
   // box-shadow: 0 0 5px #333;
  }
}

.lesson_container{
  min-height:400px;
}

.lesson_show_title{
  min-width:100%;
}


