#jp_container_1 {
  padding:0px;
  margin:0px;
}
#lesson_mod {
  background: #222;
  margin: 0px 0 0 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

#lesson_mod_menu {
  background: #222;
  display:none;
  height: 100px;
  max-width: 100%;
  width: 100%;
}

.lesson_mod_image {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  a{
    .current_lessen_image{
      height:100px;
      width:100px;
    }
  }
}
.mod_img {
  width: 140px;
  float: left;
}
.mod_img_pause {
  width: 140px;
  float: left;
}
.lesson_mod_controls {
  float: left;
  width: 70%;
}
.lesson_progress_bar {
  border: 1px solid #999;
  border-radius: 20px;
  height: 20px;
  margin: 10px;
  padding: 3px 4px;
}
.progress_bar {
  background: #ccc;
  border-radius: 130px;
  height: 12px;
}
.lesson_mod_time {
  height: 24px;
  margin:5px 0 0 0;
  width: 100%;
}
.lesson_current_time {
  color: #ccc;
  float: left;
  font-size: 80%;
  margin: 0 0 0 10px;
  padding: 3px;
  position: relative;
  width: 50%;
}
.lesson_current_time:before {
  background: url('downarrow.png') no-repeat;
  content: "";
  height: 10px;
  left: 5px;
  position: absolute;
  bottom: -8px;
  width: 24px;
}
.lesson_duration {
  color: #ccc;
  float: right;
  font-size: 80%;
  margin: 0 6px 0 0;
  padding: 3px;
  text-align: right;
  position: relative;
}
.lesson_duration:before {
  background: url('downarrow.png') no-repeat;
  content: "";
  height: 10px;
  left: 5px;
  position: absolute;
  bottom: -8px;
  width: 24px;
}
.lesson_mod_volume {
  display: block;
  height: 30px;
  padding: 0 0 0 12%;
  width: 100%;
}
.lesson_mod_volume_controls {
  float: left;
  width: 27px;
}
.volume-meter {
  border: 1px solid #999;
  border-radius: 20px;
  display: block;
  float: left;
  height: 20px;
  margin: 3px 3px 0px;
  padding: 0 6px 0 0px;
  width: 60%;
}
.volume-bar {
  -webkit-animation: volumecontrol 8s infinite ease-in-out;
  -moz-animation: volumecontrol 8s infinite ease-in-out;
  animation: volumecontrol 8s infinite ease-in-out;
  height: 12px;
  width: 75%;
  margin: 3px 3px;
  display: block;
  border-radius: 6px;
  background: #ccc;
}
.volume-bar:hover {
  cursor: ew-resize;
}
.lesson_mod_volume_max {
  background: url('icon_volume_max.png') no-repeat;
  float: left;
  width: 40px;
}
.jp-mute {
   background:url('icon_volume_play.png') no-repeat;
}
.jp-unmute {
  background: url('icon_volume_mute.png') no-repeat;
}
.icon-volume {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0px;
}
.lesson_mod_info_container {
  float: left;
  width: 48%;
  .lesson_mod_info{
    padding: 10px;
    text-align: right;
  }
}
.lesson_mod_info h1 {
  color: #ccc;
  font-size: 150%;
  margin:0px 0 5px 0;
  text-transform: uppercase;
}
.lesson_mod_info h2 {
  color: #ccc;
  font-size: 110%;
  margin: 0px;
  line-height: 1em;
}
.lesson_mod_info h3 {
  color: #ccc;
  font-size: 90%;
  line-height: 1.4em;
  margin: 0px;
}


.social_buttons{
  float:right;
  padding:10px 0 0 0;
  width:162px;
  .social_icon{
    float:left;
    height:24px;
    margin:-14px 0px 0 27px;
    width:24px;
    a{
      display:block;
    }
  }
  .social_facebook {
    background: url('icon-facebook.png') no-repeat;
    background-size:100%;
  }
  .social_twitter {
    background: url('icon-twitter.png') no-repeat;
    background-size:100%;
  }
  .social_google {
    background: url('icon-google-plus.png') no-repeat;
    background-size:100%;
    img{
      height:0px;
    }
  }
}



.player_action_container{
  .player_close_button{
    border:1px solid #fff;
    border-radius:15px;
    color:#fff;
    float:right;
    font-size: 80%;
    height:16px;
    margin:5px 15px 0 0;
    padding:1px 3px;
    width:16px;
    &:hover{
      background:#fff;
      color:#222;
      cursor:pointer;
    }
  }
  .player_download_button{
    a{
      background: url('icon-download.png') no-repeat;
      display:block;
      float:right;
      height:20px;
      margin:70px -17px 0 0px;
      width:20px;
      &:hover{
        cursor:pointer;
      }
    }
  }
}


