//lesson show page

.lesson_wrapper {
  margin:40px;
  position:relative;
  @media all and (max-width: 767px){
    margin: 20px auto 0px;
    width:200px;
  }
  &:hover > .play_mark_large {
    cursor:pointer;
    opacity:0.8;
  }
  &:hover > .lesson_image {
   // box-shadow: 0 0 5px #333;
  }
}

.lesson_container{
  min-height:400px;
}

.lesson_show_title{
  min-width:100%;
}


