<div class="title background_color_two">nate's <span class="hh1">Teachings</span></div>
<div class="row" id="lessons">
  {{#each model}}
    {{partial "lessons/list"}}
  {{/each}}

</div>
<div class="view_bar">
	<div class="vew_bar_right">
		{{! {{#linkTo "lessons.new" class="button create_button" }}    {{!  + New Lesson{{/linkTo}}
  {{#if currentUser.isSignedIn}}
    <a href="lessons/new" class="button">+ New Teaching</a>
  {{/if}}
	</div>
</div>
