<div class="title">nate's <span class="hh1">Teachings</span></div>
{{#if currentUser.isSignedIn}}
<div class="view_bar">
  <div class="vew_bar_right">
    {{! {{#linkTo "lessons.new" class="button create_button" }}    {{!  + New Lesson{{/linkTo}}
    <a href="lessons/new" class="button">+ New Teaching</a>
  </div>
</div>
{{/if}}
<div class="row" id="lessons">
  {{#each controller}}
    {{partial "lessons/list"}}
  {{/each}}

</div>

